<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="raptor.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="raptor.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <raptor.My.MySettings>
            <setting name="Logged_in" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="user_name" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>Deafult1!</value>
            </setting>
            <setting name="stay_logged_in" serializeAs="String">
                <value>False</value>
            </setting>
        </raptor.My.MySettings>
    </userSettings>
    <applicationSettings>
        <raptor.My.MySettings>
            <setting name="deafult_name" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="deafult_password" serializeAs="String">
                <value>Deafult1!</value>
            </setting>
        </raptor.My.MySettings>
    </applicationSettings>
</configuration>
